.products-section {
  padding: 0 0 28px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  &__heading {
    margin: 0;
    color: var(--color-grey);
    font-size: 20px;
    font-weight: 600;
  }

  &__error {
    color: var(--color-red);
  }
}