.header-link {
  width: 40px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-grey);
  outline: none;
  transition: color var(--transition-200);

  &:hover,
  &:focus-visible {
    color: var(--color-yellow-orange);
  }

  &__counter {
    display: block;
    min-height: 18px;
    min-width: 18px;
    position: absolute;
    top: 12px;
    right: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-yellow-orange);
    font-size: 14px;
    font-weight: 500;
    color: var(--color-white);
  }

  &__links {
    display: flex;
  }
}