.basket-page {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 350px;
  align-items: start;
  gap: 20px;
  padding-bottom: 28px;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}