*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  color: var(--color-black);
  background-color: var(--color-whisper);
}

main {
  flex-grow: 1;
}

img {
  display: block;
  object-fit: cover;
}

a {
  color: var(--color-black);
  text-decoration: none;
}