:root {
  // Colors
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-black-light: #101010;
  --color-whisper: #EAEAEA;
  --color-yellow-orange: #FFA542;
  --color-grey: #838383;
  


  // Typography
  --ff-main: "Montserrat", "Arial", sans-serif;


  // Transitions
  --transition-200: 0.2s ease-in;
  
}