:root {
  // Colors
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-whisper: #EAEAEA;


  // Typography
  --ff-main: "Montserrat", "Arial", sans-serif;


  // Transitions
  --transition-200: 0.2s ease-in;
  
}