:root {
  // Colors
  --color-white: #FFFFFF;
  --color-white-10: rgba(1, 1, 1, 0.1);
  --color-black: #000000;
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-light: #101010;
  --color-black-russian: #1C1C27;
  --color-whisper: #EAEAEA;
  --color-yellow-orange: #FFA542;
  --color-chardonnay: #FFCE7F;
  --color-grey: #838383;
  --color-red: #BB0000;


  // Typography
  --ff-main: "Montserrat", "Arial", sans-serif;


  // Transitions
  --transition-200: 0.2s ease-in;
  
}